body{
    margin: 0;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    padding: 6px 48px;
}


.main-nav ul{
     display: flex; 
    list-style-type: none;
    
    
}
.main-nav ul li{
    margin: 12px;
}
.main-nav ul li a{
    text-decoration: none;
    color: black;
}
.main-nav ul li a:hover{
    border-bottom: 2px solid black;


}
.main-links h5{
    padding: 20px;
}


.header-image-wrapper img{
    width: 100%;
}
.header-image-wrapper{
    position: relative;
}
.header-image-overlay{
    width: 40%;
    position: absolute;
    background-color: white;
    padding: 15px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
.header-image-overlay a{
    text-decoration: none;
    color: blue;
}
.header-image-overlay a:hover{
    border-bottom: 2px solid blue;
}

.ms-products-wrapper{
    display: flex;

}
.product-card{
    width: 25%;
    
    margin:60px  20px;
    padding: 10px;
    
}
.ms-products-wrapper img{
    width: 100%;
}
.ms-products-wrapper .product-card a{
    text-decoration: none;
    color: rgb(9, 102, 102);
}
.ms-products-wrapper .product-card a:hover{
     border-bottom: 2px solid  rgb(9, 102, 102);
    
}
.ms-image-wrapper img{
    width: 100%;
}
.ms-image-wrapper{
    position: relative;
}   
  

.ms-image-overlay{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
.ms-image-wrapper .ms-image-overlay a{
    text-decoration: none;
    color: blue;
}
.ms-image-wrapper .ms-image-overlay a:hover{
    border-bottom: 2px solid blue;
}
.heading h2{
    margin-top: 30px;

}
.bottom-products-wrapper{
    display: flex;
}
.product-card{
    width: 25%;
    
    margin:60px  20px;
    padding: 0;  
}
.bottom-products-wrapper img{
    width: 100%;
}
.bottom-products-wrapper .product-card a{
    text-decoration: none;
    color: rgb(9, 102, 102);
}

.bottom-products-wrapper .product-card a:hover{
    border-bottom: 2px solid rgb(9, 102, 102) ;


}
.main-links{
    display: flex;
}
.main-links ul{
    display: flex; 
   list-style-type: none;
}
.main-links ul li{
   margin: 12px;
}
.main-links ul li a{
   text-decoration: none;
   color: black;
}
.main-links ul li a:hover{
   border-bottom: 2px solid black;


}
.bottom-links{
    display: flex;
    background-color: wheat;
}

.bottom-links ul{
    
   list-style-type: none;
}
.bottom-links ul li{
   margin: 12px;
}
.bottom-links ul li a{
   text-decoration: none;
   color: black;
}
.bottom-links ul li a:hover{
   border-bottom: 2px solid black;
}
    



